.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.matC{
  height: auto;
  opacity: 0.95;
}
.tag-a{
  font-size: larger;

}
.tag-a:hover{
  background-color: #00c6ff;
  cursor: pointer;
  color: white;
  font-size: large;
}
