<mat-card class="mat-card">

  <div class="container">
    <h1 style="display: inline;top:10px">Profile Edit</h1>
    <h3>UserID: {{id}}</h3>
    <span *ngIf="!profile.id" style="color: #f44336; font-size: large">This user dont have the Profile. You can skip it or create one here!</span>
    <hr>
    <form ngForm>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="age">UserAge</label>
          <input type="text" class="form-control is-valid" id="age" placeholder="Null"
                 name="age" [(ngModel)]="profile.age">
        </div>

        <div class="col-md-4 mb-3">
          <label for="address">Address</label>
          <input type="text" class="form-control is-valid" id="address" placeholder="Null"
                  name="address" [(ngModel)]="profile.address">
        </div>

        <div class="col-md-4 mb-3">
          <label for="driving_age">Driving Age</label>
          <input type="text" class="form-control is-valid" id="driving_age" placeholder="Null"
                 name="driving_age" [(ngModel)]="profile.driving_age">
        </div>

        <div class="col-md-6 mb-3">
          <span>Change user Photo</span><br>
          <input type="file" id = "photoupload" #files>
          <a class="tag-a" (click)="addPhoto('eisuserphoto')">Select this photo</a>
        </div>

        <div class="col-md-3 mb-3">
          <label for="degree">Education Degree</label>
          <input type="text" class="form-control is-valid" id="degree" placeholder="Null"
                 name="degree" [(ngModel)]="profile.degree">
        </div>

        <div class="col-md-3 mb-3">
          <label for="selphone">Self Phone</label>
          <input type="text" class="form-control is-valid" id="selphone" placeholder="Null"
                 name="selphone" [(ngModel)]="profile.selphone">
        </div>
      </div>
      <br>
      <button class="btn btn-primary" type="submit" (click)="Change()" *ngIf="profile.id">Update</button>
      <button class="btn btn-primary" type="submit" (click)="Create()" *ngIf="!profile.id">Create</button>
      &nbsp;&nbsp;
      <button class="btn btn-primary" routerLink="/admin">Back</button>

    </form>
  </div>

</mat-card>

<div *ngIf="showalert" style="position: fixed;display: flex;justify-content: center;top: 0vh; width: 100vw; height: 100vh; left: 0">
  <mat-card style="width: 40vw; height: 200px; top: 30vh;">
    <br>
    <div style="display:flex;justify-content: center">
      <h1>Success to save image!</h1>
    </div>
    <div style="display:flex;justify-content: center">
      <h3>Dont forget to update</h3>
    </div>
    <div class="modal-footer" style=" justify-content: center">
      <button type="button" class="btn btn-primary" (click)="showalert = false">OK</button>
    </div>
  </mat-card>
</div>
