
<mdb-carousel class="carousel  carousel-fade" [animation]="'fade'" >
    <mdb-carousel-item *ngFor="let car of this.insurance?.cars" >
      <mat-card class="mat-card">
        <div class="container1">
          <div class="row">
            <div class="col-md-6 img">
              <img style="width: auto; height: 35vh;"
                src="{{car.carphoto}}"
                alt="" class="img-rounded">
            </div>
            <div class="col-md-6 details">
              <blockquote>
                <mat-icon class="click-icon" routerLink="/listInsur">arrow_back</mat-icon>
                <h2>{{car.year}}&nbsp;-&nbsp;{{car.make}}&nbsp;-&nbsp;{{car.model}}&nbsp;-&nbsp;{{car.color}}</h2>
                <h3>Vin Number:  {{car.vin}}</h3>
                <h3>Miles:  {{car.miles}}</h3>
              </blockquote>
              <button mat-raised-button (click)="goPage(car)">Update</button>&nbsp;&nbsp;
<!--              <button mat-raised-button routerLink="/listInsur">Back</button> &nbsp;&nbsp;-->


            </div>
          </div>
        </div>
      </mat-card>

    </mdb-carousel-item>
</mdb-carousel>
