
<mat-card class="matC" >

  <h1 style="display: inline">Change Password</h1>
  <mat-icon aria-hidden="false" aria-label="Example home icon" routerLink="/home"
            style="margin-left: 80%;">home</mat-icon>
  <form class="example-form" #f="ngForm" (ngSubmit)="Update()">

    <mat-form-field class="example-full-width">
      <mat-label>Old Password</mat-label>
      <input matInput placeholder="Your old Password" name="oldPsw"
                #oldPsw="ngModel" [(ngModel)]="oldPass" type="password" required>
    </mat-form-field>
    <div *ngIf="oldPsw.errors?.required && oldPsw.touched" class="error" style="color: crimson">
      Password is required!
    </div>
    <br>

    <mat-form-field class="example-full-width">
      <mat-label>New Password</mat-label>
      <input matInput name="password" [(ngModel)]="newPass" #psw="ngModel" type="password"
                required minlength="6"  reverse="true">
      <div *ngIf="psw.errors?.required && psw.touched" class="error" style="color: crimson">
        This is required!
      </div>
      <div *ngIf="psw.errors?.minlength && psw.touched" class="error" style="color: crimson">
        Password must longer than 5
      </div>
    </mat-form-field>

    <mat-form-field class="example-full-width">
      <mat-label>Confirm Password</mat-label>
      <input matInput name="repeat" type="password" required validateEqual="password" #repeat="ngModel"
                reverse="false" [(ngModel)]="repass">
      <div *ngIf="repeat.errors?.required && repeat.touched" class="error" style="color: crimson">
        Please confirm the password
      </div>
      <div *ngIf="repeat.errors?.validateEqual && repeat.touched" class="error" style="color: crimson">
        Password not match!
      </div>
    </mat-form-field>
    <br>
    <button mat-raised-button type="submit" [disabled]="f.invalid">Update</button> &nbsp;&nbsp;

    <a routerLink="/profile">Back </a>

  </form>
</mat-card>

<div *ngIf="showalert" style="z-index: 10;position: fixed;display: flex;justify-content: center;top: 0vh; width: 100vw; height: 100vh; left: 0">
  <mat-card style="width: 40vw; height: 200px; top: 30vh;">
    <br>
    <div style="display:flex;justify-content: center">
      <h1>Password Changed Success!</h1>
    </div>
    <div style="display:flex;justify-content: center">
      <h3 style="color: #f44336">You will be Logout</h3>
    </div>
    <div class="modal-footer" style=" justify-content: center">
      <button type="button" class="btn btn-primary" (click)="goHome()">OK</button>
    </div>
  </mat-card>
</div>

<div *ngIf="showalert2" style="z-index: 10;position: fixed;display: flex;justify-content: center;top: 0vh; width: 100vw; height: 100vh; left: 0">
  <mat-card style="width: 40vw; height: 200px; top: 30vh;">
    <br>
    <div style="display:flex;justify-content: center">
      <h1 style="color: #f44336">Old Password NOT Correct!</h1>
    </div>
    <div style="display:flex;justify-content: center">
      <h3>Please check and try again</h3>
    </div>
    <div class="modal-footer" style=" justify-content: center">
      <button type="button" class="btn btn-primary" (click)="showalert2 = false">OK</button>
    </div>
  </mat-card>
</div>
