.example-form {
  min-width: 150px;
  max-width: 500px;
  width: 100%;
}

.example-full-width {
  width: 100%;
}

.matC{
  //position: relative;
  //top: 18vh;
  opacity: 0.95;

}
//.login-div{
//  width: 60%;
//  //height: 50%;
//  margin: 10% auto;
//}

